<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "about.JPG" %>
	</div>

	<div id="content">
		<h1>Hello, I'm Ginny Mangat</h1>
		<p>Welcome to my Rails blog!</p>
		<p>This is my second rails application that I've put together with the help of online resources.</p>
		<p>I graduated from University of California - Santa Cruz in 2016 with a B.S. in Chemistry... consider this a career change. You can find me on Twitter <a href="http://www.twitter.com/ginnynumberone">@ginnynumberone</a> to talk about all things Ruby on Rails. I'm always looking to learn or hear feedback from experienced individuals in order to better myself.</p>
	</div>
</div>