#page_wrapper
  #profile_image
    = image_tag "about.JPG"

  #content
    %h1 Hello, I'm Ginny Mangat
    %p Welcome to my Rails blog! 
    %p This is the second rails application that I've put together with the help of online resources. I graduated from University of California - Santa Cruz in 2016 with a B.S. in Chemistry... consider this a career change.
    %p You can find me on Twitter #{ link_to '@ginnynumberone', 'https://www.twitter.com/ginnynumberone'} to talk about all things Ruby on Rails. I'm always looking to learn or hear feedback from experienced individuals in order to better myself.